.category-grid {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  padding: 20px;
}

.category {
  flex: 1;
  min-width: 250px;
}

.category h2 {
  font-size: 1.5rem;
  margin-bottom: 10px;
}

.category-items {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}

.category-item {
  text-align: center;
}

.category-image {
  width: 100px;
  height: 100px;
  object-fit: cover;
  border-radius: 8px;
  border-color: black;
}
