.deal-container {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
    font-family: sans-serif;
  }
  
  .deal-card {
    width: 120px;
    height: 120px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: #ffffff;
    border-radius: 20px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    text-align: center;
    cursor: pointer;
    transition: transform 0.2s ease-in-out;
    border-color: rgb(159, 45, 45) ;
  }
  
  .deal-card:hover {
    transform: scale(1.05);
  }
  
  .deal-icon {
    font-size: 30px;
  }
  
  .deal-image {
    width: 50px;
    height: 50px;
    object-fit: cover;
    border-radius: 5px;
  }
  
  .deal-text {
    margin-top: 10px;
    font-size: 14px;
    font-weight: bold;
    color: #333;
  }